#maincontainer{
    margin-top: 5%;
    background-color: white;
}
#col{
    /* background-color: rgb(12, 0, 0); */
    width: 100%;
}
#registerHeading{
    margin-left: 25%;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 30px;
}
Form{
     font-family: 'Times New Roman', Times, serif;
     font-weight: bold;
}
#link{
    margin-left: 45%;
    margin-top: 20%;
}
button{
    margin-top: 10%;
    width: max-content;
    padding-top: 20%;
    margin-left: 10%;
    /* color: white; */
}
#clearbtn{
    background-color: rgb(87, 91, 94);
}