
/* inventoryStyle.css */

.header-man-inv {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-bottom: 1px solid #d4cfcfda;
}

.icon {
  margin-right: 10px; 
}

.inventory-title {
  margin: 0; 
  font-size: 50px;
}


.two-column-container-man-inv {
  display: flex;
}

.column-man-inv {
  padding: 1%;
  margin: 1px;
  box-sizing: border-box; /*Ensure padding is included in the width */
  
}

.small-column-man-inv {
  flex: 1; /* Adjust the value to control the size of the second column */
}

.large-column-man-inv {
  flex: 2.5; /* Adjust the value to control the size of the second column */
  border-right: 3px solid #b1aeae;
}

.align-left{
  align-items: end;
  position: fixed;
}
