*{
  margin:0;
  padding: 0;
  text-decoration: none;
}

.container1{
  display: flex;
  width: 100vw;  
  overflow: hidden;
}

main{
  width:100%;
}

.sidebar{
  background: #332f2f;
  color: #fff;
  height: 100vh;
  width: 200px;
  transition: all 0.5s;

  display: flex;
  flex-direction: column;
}

.top_section{
  display: flex;
  align-items: center;
  padding: 20px 15px;
}

.logo{
  font-size: 30px;
}

.bars{
  display: flex;
  font-size: 25px;
  margin-left: 50px;
}

.link{
  display: flex;
  color: #fff;
  padding: 10px 15px;
  gap: 15px;
  transition: all 0.5s;
}

.link:hover{
  background: lightskyblue;
  color: #000;
  transition: all 0.5s;
}

.active{
  background: lightskyblue;
  color: #000;
}

.icon, .link_text{
  font-size: 20px;
}

.sidebar .link:last-child {
  margin-top: auto;  
}

 
.link {
  text-decoration: none;  
}

.link:hover {
  text-decoration: none;  
}
 