#loginHeading {
  text-align: center;
  font-family: 'Times New Roman'; 
  height: 100%;
  font-weight: bolder;
}
#forgotPwd {
  text-align: right;
  margin-left: 65%;
  font-size: 13px;
  font-family: 'Times New Roman';
  text-align: center;
}
#submitbtn{
  margin-left: 0%;
  width: 50%;
  background-color: rgb(3, 3, 133);
  border: none;
}
#clearbtn{
  width: 50%;
  border: none;
  margin-left: 0%;
}

#shadow{
  background-color: #fff;
}
#div1{
  width: 100%;
  margin-top: 10%;
  height: 150%;
}
#card{
  margin-top: 25%;
  width: 40%;
  margin-left: 30%;
  height: 150%;
  font-family: 'Times New Roman', Times, serif;
  font-size: large;
}
#row{
  padding: 0px;
  height: 100%;
}
#img{
  height: 100%;
  width: 100%;
}
#showpwd{
  border-color: rgb(34, 34, 34);
}
#username, #password{
  font-family: 'Times New Roman', Times, serif;
  font-size: large;

}