.flex-container {
  display: flex;
  justify-content: center;
}

.container{
    display: flex;
    justify-content: center;
    background-color: #f5f5f5;
    margin-top: 10%;
    width: 100%;
    font-size: large;
}

.body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    font-family: 'Times New Roman', Times, serif;
}

#username, #showNewPwd, #showConfirmPwd, #input{
    width: 100%;
    border-color: rgb(34, 34, 34);

}

#setPwd{
    width: 100%;
    margin-top: 10%;
    padding: 5px;
    border: none;
    border-radius: 10px;
    background-color: #1c0a83;
    color: #fff;
    cursor: pointer;
}

#back{
    width: max-content;
    margin-top: 10%;
    margin-left: 0%;
    padding: 5px;
    border: none;
    background-color: #ffffff;
    color: #000000;
    cursor: pointer;
    text-align: center;
    font-size: 15px;
    text-decoration: none;
    font-weight: bold;

}

#card{
  margin-top: 25%;
  width: 40%;
  margin-left: 30%;
  height: 150%;
  font-family: 'Times New Roman', Times, serif;
  font-size: large;
}
#submitbtnr{
  margin-left: 0%;
  width: 50%;
  background-color: rgb(3, 3, 133);
  border: none;
}
#clearbtnr{
  width: 50%;
  border: none;
  margin-left: 0%;
}